<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BlogCafé</title>
    <!-- Preload -->
    <link rel="preload" href="../css/normalize.css" as="style">
    <link rel="stylesheet" href="../css/normalize.css">

    <link rel="preload" href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap"  crossorigin="crossorigin" as="font">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&family=PT+Sans:wght@400;700&display=swap" rel="stylesheet">
    
    <link rel="preload" href="../css/style.css" as="style">
    <link rel="stylesheet" href="../css/style.css">
</head>
<body>
    <header>
        <div class="contenedor">
            <div class="barra">
                <a class="logo" href="../index.html">
                    <h1 class="no-margin">
                        Blog<span>DeCafé</span>
                    </h1>
                </a>
                <nav class="navegacion">
                    <ul id="nav_list">
                        <li><a href="nosotros.html">Nosotros</a></li>
                        <li><a href="cursos.html">Cursos</a></li>
                        <li><a href="contacto.html">Contacto</a></li>
                    </ul>
                    <div id="arrow" class="arrow"></div>
                </nav>
            </div>
            <div class="header_texto">
                <h2 class="no-margin centrar-texto">Blog de café con consejos y cursos</h2>
                <p class="no-margin centrar-texto">Aprende de los expertos con las mejores recetas y consejos</p>
            </div>
        </div>
    </header>
    <main class="contenedor">
       <h3 class="centrar-texto">Nuestos Próximos Cursoso y Talleres</h3>
       <div class="contacto-background"></div>
       <form>
        <div class="campo">
            <label for="name">Nombre</label>
            <input placeholder="Nombre" type="text" name="name" id="name">
        </div>
        <div class="campo">
            <label for="email">Email</label>
            <input placeholder="Correo" type="email" name="email" id="email">
        </div>
        <div class="campo">
            <label for="name">Mensaje</label>
            <textarea name="Mensaje" id="mensaje"></textarea>
        </div>
        <input class="boton boton-primario" type="submit">
       </form>
    </main>
    <footer>
        <div class="barra">
            <a class="logo" href="index.html">
                <h1 class="no-margin">
                    Blog<span>DeCafé</span>
                </h1>
            </a>
            <nav class="navegacion">
                <a href="nosotros.html">Nosotros</a>
                <a href="cursos.html">Cursos</a>
                <a href="contacto.html">Contacto</a>
            </nav>
        </div> 
    </footer>
    <script src="../js/app.js"></script>
</body>
</html>